@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/*index*/
ul {
  text-align: center;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  border: 1px solid black;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  border-radius: 10%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p {
  color: black;
  font-family: sans-serif;
  font-size: large;
}

a {
  color: black;
  font-family: sans-serif;
  font-size: x-large;
  font-weight: lighter;
  text-decoration: none;
}
.bg-light{
  margin: 0 auto;
  padding: 0%;
}
.container-fluid{
  margin: 0 auto;
  padding: 0%;
}
.form-control.me-2{
  margin: 0 auto;
  padding: 0%;
  border-radius: 10px;
 }
.d-flex{
  margin: 0%;
  padding: 0%;
}

.index {
  background: #d191c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.imagenlogo {
  position: static;
  width: 20%;
}

.fin {
  width: 100%;
  color: black;
  font-family: sans-serif;
}

/*footer*/
.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body {
  color: #006064;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#body-imagen {
  background-image: url(../paginas.png);
  background-size: 100vw;
}

#formulario {
  width: 450px;
  margin: auto;
  background: #999;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  border-radius: 12px;
  color: white;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

h2 {
  color: white;
  text-align: center;
  margin: 0%;
  font-size: 30px;
  margin-bottom: 20px;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#botton {
  background: #31384a;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#botton:hover {
  cursor: pointer;
}

a:hover {
  color: #d191c4;
}

.redes {
  margin-left: 10px;
}

.float {
  position: fixed;
  width: 60px;
  height: 50px;
  bottom: 30px;
  right: 40px;
  color: #079e3e;
  text-align: center;
  font-size: 30px;
  z-index: 100px;
}

.my-float {
  margin-top: 16px;
}

.buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 50px;
  height: 50px;
  height: 50px;
  background: #999;
  color: black;
  text-align: center;
  line-height: 50px;
  border-radius: 60px;
  -webkit-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.button a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#navegador {
  text-align: right;
  padding: 30px 50px 0 0;
}

/*página contacto*/
.padre-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 1px 1px 1px 1px;
  padding: 0%;
  height: 70px;
}

.class-flex {
  text-align: center;
}

/*página de fotos*/
.grid-container {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media (max-width: 640px) {
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pages-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fotos {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body {
    width: 100%;
  }
}

/*página nosotros*/
.parrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 30px;
  margin: 20px 0px 0px 100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*# sourceMappingURL=style.css.map */